
.section{
    height: 80%;
    width: 80%;
    border-color: red;
    border-style: solid;
    background-color: darkslategrey;
}
.footer{
    height: 20%;
    width: 80%;
    border-color: red;
    border-style: solid;
    background-color: darkslategrey;
}